<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ipn.cecyt9.HolaMundoAndroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HolaMundoAndroid">
        <activity
            android:name="ipn.cecyt9.HolaMundoAndroid.MetrosPies"
            android:exported="true" />
        <activity
            android:name="ipn.cecyt9.HolaMundoAndroid.divisionActivity"
            android:exported="true" />
        <activity
            android:name="ipn.cecyt9.HolaMundoAndroid.multiplicacionActivity"
            android:exported="true" />
        <activity
            android:name="ipn.cecyt9.HolaMundoAndroid.restaActivity"
            android:exported="true" />
        <activity
            android:name="ipn.cecyt9.HolaMundoAndroid.SumaActivity"
            android:exported="true" />
        <activity
            android:name="ipn.cecyt9.HolaMundoAndroid.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>